@import url(.);

@font-face {
    font-family: "Muli-I";
    src: url("../fonts/Muli-Italic.ttf");
}

@font-face {
    font-family: "Muli-L";
    src: url("../fonts/Muli-Light.ttf");
}

@font-face {
    font-family: "Muli_Lt";
    src: url("../fonts/Muli-LightItalic.ttf");
}

@font-face {
    font-family: "Muli-R";
    src: url("../fonts/Muli-Regular.ttf");
}

:root {
    --lv_ng_bx: #41246d;
    --lv_light_gray: #ededec;
    --lv_link_color: #f5b417;
    --lv_color_white: #ffffff;
    --lv_color_pink:#f24080;
}

* {
    margin: 0;
    padding: 0;
}

/* layout */
.tl_flex {
    display: flex;
}

/* End */
.tl_solid_gradient {
    background-image: linear-gradient(180deg, var(--lv_ng_bx) 84%, var(--lv_light_gray) 10%);
}

.tl_container_fluid {
    width: 98%;
    padding: 1%;
}

.tl_col {
    width: 20%;
}

.tl_nav_bar {
    width: 60%;
}

.tl_nav_bar nav .tl_nav_link a.tl_cts_link {
    text-decoration: none;
    color: var(--lv_light_gray);
    padding: 10px 15px;
    font-size: 12px;
    font-family: 'Muli-Lt';
}

.tl_nav_bar nav .tl_nav_link a.tl_cts_link.active {
    background-color: var(--lv_link_color);

}

.tl_user_location {
    width: 20%;
    color: var(--lv_color_white);
    font-family: 'Muli-L';
}

.tl_tap_nav {
    justify-content: center;
    flex-grow: 3;

    align-items: center;
    align-content: center;
}

.social_media {
    /* padding: 5px; */
    float: right;
    /* flood-opacity: 0.5; */
}

/* Icon Sprite*/
.icon {
    width: 60px;
    /* padding: 0px 5px 0px 0px; */
    height: 60px;
    background-image: url("../image/sprite.png");
    background-repeat: no-repeat;
    cursor: pointer;
    margin-bottom: 2px;
    background-color: var(--lv_color_pink);

}

.icon.g {
    background-position: 15.5% 12.4%;
}

.icon.g:hover {
    background-position: 15.5% 37.4%;
}

.icon.fb {
    background-position: 25.6% 12.4%;
}

.icon.fb:hover {
    background-position: 25.6% 37.4%;
}
.icon.in {
    background-position: 54.9% 12.4%;
}

.icon.in:hover {
    background-position: 54.9% 37.4%;
}